<div class="container">
 <h1> <%= @meeting.title %> </h1>
 <div class="d-flex">
  <h4 class="pr-4"><%= @meeting.start_date_time.strftime("%d %B %Y ") %> </h4>
  <h4 class="pr-2"><%= @meeting.start_date_time.strftime("%k:%M ~") %> </h4>
  <h4><%= @meeting.end_date_time.strftime("%k:%M")  %> </h4>
 </div>
 <p> <%= @meeting.description %> </p>
 <div class="d-flex">
  <div class="objectives">
    <h4> Objectives:</h4>
    <ul>
    <% @meeting.objectives.each do |objective| %>
      <li><p><%= objective %> </p></li>
    <% end %>
    </ul>
  </div>
  <div class="agenda">
    <h4> Agenda:</h4>
    <ul>
    <% @meeting.agenda.each do |agenda| %>
      <li><p><%= agenda %> </p></li>
    <% end %>
    </ul>
  </div>
 </div>
</div>
