<div class="container">
  <%= turbo_frame_tag "modal" do %>
   <h1> <%= link_to "Create Meeting", new_meeting_path, data: {turbo_frame: "modal2"}, class: "btn btn-primary"%> </h1>
  <% end %>
<%= turbo_frame_tag "modal2" do %>
    <%= month_calendar(events: @meetings, attribute: :start_date_time ) do |date, meetings|%>
      <%= date %>
      <% meetings.each do |meeting| %>
        <%= link_to meeting_path(meeting) do %>
          <% if meeting.user == current_user %>
            <%= meeting.title.capitalize %>
          <% else %>
            <%= meeting.title.capitalize %>
          <% end %>
        <% end  %>
      <% end  %>
    <% end %>
<% end %>
</div>
